@use '@carbon/layout';
@use '@carbon/type';

:global {
  .bx--cc--tooltip,
  .cds--cc--tooltip {
    .bx--cc--tooltip-list li:last-child,
    .cds--cc--tooltip-list li:last-child {
      display: none !important;
    }
  }
}

.chartContainer {
  padding: layout.$spacing-05;
  background: #ffffff;

  :global {
    .bx--cc--chart-wrapper {
      background: #f4f4f4;
    }

    .bx--chart-axis.bx--axis--bottom {
      .tick text {
        fill: #161616;
        font-weight: 400;
      }

      .tick:nth-child(6n + 1) text {
        font-weight: 600;
      }
    }

    .bx--cc--line path {
      stroke-width: 1px;
      stroke-dasharray: 4 2;
    }

    .bx--cc--line path[stroke='#000000'],
    .bx--cc--line path[style*='stroke: rgb(0, 0, 0)'],
    .bx--cc--line path[style*='stroke: #000000'] {
      stroke-width: 3px !important;
      stroke-dasharray: none !important;
    }
  }
}

.container {
  padding: layout.$spacing-05;
}

.visualizationContainer {
  margin-top: layout.$spacing-05;
}
